@model UserManagement.Web.Models.Logs.LogListItemViewModel

<h2>Log Details</h2>
<dl class="row">
    <dt>Action:</dt>
    <dd>@Model.Action</dd>

    <dt>Target User Id:</dt>
    <dd>@Model.TargetUserId</dd>

    <dt>Details:</dt>
    <dd>@Model.Details</dd>

    <dt>Timestamp:</dt>
    <dd>@Model.Timestamp</dd>
</dl>